In [1]:
import json
import pandas as pd
from pandas import json_normalize
from collections import defaultdict
from itertools import groupby

In [2]:
with open('telegram.channels.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

In [3]:
with open('telegram.messages.2024May1stWeek.json', 'r', encoding='utf-8') as file2:
    data2 = json.load(file2)
    # data2 = pd.read_json(file2)

In [8]:
# -----------------------------------------------
# For normalizing post count and average view count
posts = json_normalize(data2)

In [9]:
#For searching post count
group_post = posts.groupby('peer_id.channel_id')
# Searching Post Count
group_post.size().reset_index(name='post_count').sort_values(by='post_count', ascending= False).head(10)

     peer_id.channel_id  post_count
235          1871239872        1353
41           1457688370        1196
55           1517600807         703
173          1746317237         703
271          2130995355         670
72           1543744698         604
236          1875043295         584
167          1735532540         537
75           1546541186         534
27           1353554094         381

In [10]:

#For searching top ten channels with average view count
group_avg = posts.groupby('peer_id.channel_id')['views']
#Searching Average View Count
group_avg.mean().reset_index(name='average_views').sort_values(by='average_views', ascending=False).head(10)
# -----------------------------------------------

     peer_id.channel_id  average_views
0            1006503122  432990.000000
17           1291462171   41919.300000
270          2049814454   34922.414286
208          1790991084   24637.075000
115          1624745649   21126.669421
209          1794331545   19909.375000
143          1679901242   19841.000000
83           1558737942   18187.074257
255          1941415260   17623.833333
246          1907154014   16743.800000

In [7]:

# -----------------------------------------------
# For searching post author
df = json_normalize(data)

#For searching post author
groups = df.groupby('userName')['channelId']
#Searching post author
groups.nunique().reset_index(name='channel_count').query('channel_count > 1')
# -----------------------------------------------

# Searching Total Views
# groups.views.sum().reset_index(name='total_views').sort_values(by='total_views', ascending=False).head(10)

# Searching Message Count
# groups.size().reset_index(name='message_count').sort_values(by='message_count', ascending=False).head(10)

     peer_id.channel_id  average_views
0            1006503122  432990.000000
17           1291462171   41919.300000
270          2049814454   34922.414286
208          1790991084   24637.075000
115          1624745649   21126.669421
209          1794331545   19909.375000
143          1679901242   19841.000000
83           1558737942   18187.074257
255          1941415260   17623.833333
246          1907154014   16743.800000